In [78]:
import pandas as pd
import re

In [40]:
test_X = pd.read_csv('data/Test Data.csv')
test_Y = pd.read_csv('data/Sample Prediction Dataset.csv')
train_data = pd.read_csv('data/Training Data.csv')

In [41]:
#change name of column to lowercase
test_X.columns = test_X.columns.str.lower()
test_Y.columns = test_Y.columns.str.lower()
train_data.columns = train_data.columns.str.lower()

# Checking shape of data

In [42]:
if test_X.shape[0] == test_Y.shape[0] :
    print('Test data and test labels have same number of rows')
else:
    print('Test data and test labels do not have same number of rows')

Test data and test labels have same number of rows

In [43]:
if test_X.shape[1] + test_Y.shape[1] - 1 == train_data.shape[1] :
    print('Train data and test data have same number of columns')
else:
    print('Train data and test data do not have same number of columns')

Train data and test data have same number of columns

# Checking for null values

In [44]:
print('Null values in train data : ',train_data.isnull().values.any())

Null values in train data :  False

In [45]:
print('Null values in test data : ',test_X.isnull().values.any())

Null values in test data :  False

# See column names

In [47]:
test_X.columns

Index(['id', 'income', 'age', 'experience', 'married/single',
       'house_ownership', 'car_ownership', 'profession', 'city', 'state',
       'current_job_yrs', 'current_house_yrs'],
      dtype='object')

In [48]:
test_Y.columns

Index(['id', 'risk_flag'], dtype='object')

In [49]:
train_data.columns

Index(['id', 'income', 'age', 'experience', 'married/single',
       'house_ownership', 'car_ownership', 'profession', 'city', 'state',
       'current_job_yrs', 'current_house_yrs', 'risk_flag'],
      dtype='object')

renaming columns

In [51]:
#rename column married/single to married_single
train_data.rename(columns={'married/single':'married_single'}, inplace=True)
test_X.rename(columns={'married/single':'married_single'}, inplace=True)

In [54]:
test_X.columns

Index(['id', 'income', 'age', 'experience', 'married_single',
       'house_ownership', 'car_ownership', 'profession', 'city', 'state',
       'current_job_yrs', 'current_house_yrs'],
      dtype='object')

In [55]:
train_data.columns

Index(['id', 'income', 'age', 'experience', 'married_single',
       'house_ownership', 'car_ownership', 'profession', 'city', 'state',
       'current_job_yrs', 'current_house_yrs', 'risk_flag'],
      dtype='object')

# See content of columns

## car_ownership

In [58]:
#no to 0 and yes to 1
train_data['car_ownership'] = train_data['car_ownership'].map({'no':0, 'yes':1})
test_X['car_ownership'] = test_X['car_ownership'].map({'no':0, 'yes':1})

## profession

In [60]:
#to lower case
train_data['profession'] = train_data['profession'].str.lower()
test_X['profession'] = test_X['profession'].str.lower()

## city

In [63]:
#to lower case
train_data['city'] = train_data['city'].str.lower()
test_X['city'] = test_X['city'].str.lower()

In [81]:
train_data['city'].value_counts()

aurangabad       1543
vijayanagaram    1259
bhopal           1208
bulandshahr      1185
saharsa          1180
                 ...
ujjain            486
warangal          459
bettiah           457
katni             448
karaikudi         431
Name: city, Length: 316, dtype: int64

In [82]:
#with regex get rows which city contains not only alphabets
train_data['city'] = train_data['city'].str.replace(r'\[\d+\]', '', regex=True)
test_X['city'] = test_X['city'].str.replace(r'\[\d+\]', '', regex=True)

In [83]:
#save data to csv file
train_data.to_csv('data/train_data_cleaned.csv', index=False)
test_X.to_csv('data/test_data_cleaned.csv', index=False)
test_Y.to_csv('data/test_labels_cleaned.csv', index=False)